p {
    background-color: rebeccapurple;
}

span {
    background-color: red;
}

h3 {
    background-color: green;
}

a {
    background-color: darkblue;
}

body {
    background-color: rgb(29, 29, 20);
    color: white;
}
